{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
	<h1>{{ title }}</h1>
	<h2>{{ instance.published }}</h2>
	<h5>{{ instance.userreview_set.count }} reviews ({{ average|floatformat }} out of 5 average rating)</h5>

{% if instance.userreview_set.all %}
	{% for review in instance.userreview_set.all %}	
		<h4>{{ review.user }}</h4>
		<p>{{ review.comment }}</p>
		<em> User rating {{ review.rating }}</em>
			{% if request.user.id == review.user.id %}
		 		<h6>it works</h6>	
		 	{% endif %}
		<h4>Leave your review below</h4>
	{% endfor %}
	{% else %}
		<p>No reviews for this product yet</p>
{% endif %}

{% if user.is_authenticated %}
	{% if form %}
		<form name="review-user" action="{% url 'review:detail' pk=pk %}" method="POST">
		    {% csrf_token %}
		    {{ form|crispy }}
			<input type="submit" value="Submit Review">
		</form>
	{% endif %}
		{% else%}
		<a href="{% url 'account_login' %}">han</a>
{% endif %}

		

	

{% endblock %}