{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
	<h1>{{ title }}</h1>
	<h2>{{ instance.published }}</h2>

<h1></h1>

<h5>{{ instance.userreview_set.count }} reviews ({{ omg|floatformat }} out of 5 average rating)</h5>

	{% if instance.userreview_set.all %}
		{% for review in instance.userreview_set.all %}
	<h4>{{ review.user_name }}</h4>
	<p>{{ review.comment }}</p>
	<h6>dou yyou agree or have a diff point of view leave your personal review below</h6>

	<em>{{ review.rating }}</em>

		{% endfor %}
	{% else %}
	<p>No reviews for this product yet</p>
	{% endif %}
	
	{% if form %}
		{{ form|crispy }}
	{% endif %}

{% endblock %}