{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
{% include "navbar.html" %}
<h1>Hann</h1>
{{ han }}

<main class="container">
		<section class="row">

		<div class="col-xs-6 col-lg-9 review-users">
			<div class="well">
			{% for item in instance %}
				<hr data-brackets-id="12673">
				<ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
					<strong class="pull-left primary-font">{{ item.user|capfirst }}</strong>
					<small class="pull-right text-muted">
					   <span class="glyphicon glyphicon-time"></span>{{ item.created|date:"M d Y" }}</small>
					</br>
					<li class="ui-state-default">{{ item.comment }}</li>
					</br>
				</ul>
				{% if request.user.id == item.user.id %}
				 		<a href="{% url 'review:edit-user-reviews' pk=item.id %}"><h6>edit your review</h6></a>
				 	{% endif %}
				 {% endfor %}
			</div>
		</div>
	</section>
	
</main>
{% endblock content %}