.video-container{
	padding: 30px 0px 0px 0px;
}
#video{
	background-color: black;
    margin: 0 0 30px;
    padding-top: 30px;
}

.video-wrapper{
	position: relative; position: relative;
	overflow: auto; 
	-webkit-overflow-scrolling:touch;
	border: solid black 1px;
}

.video-para{
	margin-top: 30px;
	font-size: 17px;
  	line-height: 1.5em;
}

.video-crud-container{
	margin-top: 100px;
}