.text-align-center {
      text-align: center;
}

body {
    border-top: 4px solid #bb9944;
    background-size: 80px 60px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
.navbar-static-top{
  background-color:#bb9944;
  margin-bottom: 0px;
}

.main-jumbotron{
  background-color: white;
  padding: 30px;
}

.jumbotron{
  background-color: white;
}

.jumbotron h1 {
  font-weight: 100;
}

.jumbotron p {
  font-weight: 200;
  font-size: 35px
}

.container-home{
  color: black;
}

.featured-row {
    text-align:center;
    background-color:white;
    min-height:200px;
    padding:40px 0;
    border-bottom: 1px solid #EEE;
    margin-bottom: 250px;
      }

.footer {
    margin-top:200px; 
    text-align:center;
    background-color: white;
}

.fa-facebook-square{
  color: #3b5998;
}

.fa-twitter-square{
  color: #4099FF;
}

.fa-linkedin-square{
  color: #007bb6;
}

.fa-reddit-square{
  color: #900020;
}

.fa-google-plus-square{
  color: #D34836;
}

p{
  word-wrap: break-word;

}

.xl-title{
  font-size:36px;
  border-bottom: 1px solid #bb9944;

}

.video-feauture{
  background: 0 0;
  border-bottom: none;
  padding: 0 20px;
  display: inline-block;
}

.video-image{
  height: 400px;
  width: 640px;
}

.headline{
  float: left;
  width: 83%;
}

.byline{
  float: left;
  font-size: 10px;
  font-weight: 700;
  padding-top: 8px;
  text-transform: uppercase;
  width: 50%;
}

.description{
 clear: both;
  padding: 10px 0 15px; 
}

hr{
  color: red;
  height: 1px;

}

.endless_container{
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
}

p {
  font-family: 'Lato';
}

h1, h2,h3,h4,h5,h6{
  font-family: 'Lustria';
}
