
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.navbar-static-top{
  background-color:#fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #bb9944;
}

.navbar-inverse .navbar-nav > li > a, .navbar-header .navbar-brand{
  color: #000;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #bb9944;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li{
  border-right: 1px solid #bb9944;
}

.navbar-toggle {
  background-color: #000;
  }

.navbar-header .navbar-brand:hover {
  color: #bb9944;
}

.dropdown:hover .dropdown-menu {
display: block;
}

#home-container{
  margin-top: 60px;
}

.home-img{
  position: relative;
}


.home-img{
  max-height: 500px;
  max-width: 1170px;
}

.home-img img{
  width: 100%; 
  height: 100%;

}

.home-img .main-featured-meta{
  color: white;
  position: absolute;
  bottom: 0;
  left: 35px;
}



a .read-more{
  color: white;
}

.read-more{
  width: 110px;
  height: 40px;
  line-height: 38px;
  border: solid 1px #FFF;
  text-align: center;
  display: block;
}

.read-more:hover, .read-more:hover a {
  background-color: white;
  color: black;
}


p{
  word-wrap: break-word;
  font-size: 17px;
  line-height: 1.8em;
  font-family: 'Lato';

}

h1, h2,h3,h4,h5,h6{
  font-family: 'Lustria';
}

.sponsored-links a {
    border-top: 2px solid #dfdfdf;
    color: #424143;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 16px;
    padding: 2px 0;
    width: 174px;
}


.main-featured-meta h2{
  font-size: 38px;
  color:#fff;
}

.mulfeature-row{
  margin-top: 155px;
}

.small .teaser{
  margin-bottom: 10px;
  border: 0px;
}

.category{
  margin-bottom: 3px;
  color: #bb9944;
}

.article-title h2{
  margin-top: 8px;
  font-size: 16px;
  color: #000;
}

.fa-facebook-square{
  color: #3b5998;
}

.fa-twitter-square{
  color: #4099FF;
}

.fa-linkedin-square{
  color: #007bb6;
}

.fa-reddit-square{
  color: #900020;
}

.fa-google-plus-square{
  color: #D34836;
}

.footer {
    margin-top:200px; 
    text-align:center;
    background-color: white;
    clear: both;
}

.tags-header{
  display: inline-block;
}

.tags{
  background-color: #bb9944;
  margin-right: 10px;
  font-size: 15px; color: #fff; 
  padding: 2px;"
}
