{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
 {% load el_pagination_tags %}



{% block jumbotron %}
<div class='jumbotron main-jumbotron'>
  <div class="row" >
    	<div class='col-sm-6'>
      	<h1> EasyDabble</h1>
      	 <p>Is Coming! <br><br>EasyDabble is a resource website for cannabis extracts. </p>
      	 <p>
      	   <a class="btn btn-lg btn-default btn-block" href= "{% url 'sitemaps:about'%}" role="button">Learn More &raquo;</a>
      	 </p>
    </div>
  <div class='col-sm-6'>
      <div class ="embed-responsive embed-responsive-4by3">
    		  <iframe width="560" height="315" src="https://www.youtube.com/embed/2i464hZm4kM" frameborder="0" allowfullscreen></iframe>
    	</div>
    </div>	 
  </div>
</div>
{% endblock %}

{% block content %}
<main class="container">
   <div class="row">
    <div class="col-md-10" >
  
  <div id="all-post">
    {% include 'post.html' %}
    {% include 'video.html' %}

  </div>
   

<div class="pagination">
    <span class="step-links">
        {% if query.has_previous %}
            <a href="?page={{ query.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ query.number }} of {{ query.paginator.num_pages }}.
        </span>

        {% if query.has_next %}
            <a href="?page={{ query.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>




    </div>
      </div>





</main>
{% endblock %}