{% load crispy_forms_tags %}      

        <div class="col-sm-4 blog-sidebar pull-right" style="display: inline-block;">
          <div class="sidebar-module sidebar-module-inset">
               <div class="well">
     <h3 class=" text-center">Sign Up Now For Exclusive Offers!</h3>
     <form action="" method="post" id="newsletter-form" name="" class="validate text-center" target="_blank"> {% csrf_token %}
      {{ signup_form|crispy }}
     <input class="text-center" type="submit" value="SignUp">
     </form>
   </div>
          </div>
          <div class="sidebar-module">
           <a href="https://www.smokecartel.com/?aff=421" rel="nofollow"><img src="https://www.affiliatly.com/affiliate_files/banners/320/300x300_smokecartel_ad.gif" alt=""></a>
          </div>
          <div class="sidebar-module">
  <div id="sponsored-links" class="sponsored-links initialized">
    <div class="sponsored-type">Resource Center</div>
    <div class="links-wrap">
    
       <a href="http://www.idevaffiliate.com/32007/idevaffiliate.php?id=302_0_3_3" target="_blank">Grow Pounds Of Weed</a>
    
        <a class="sponsored-link even" href="" target="_blank" rel="nofollow">The Best Desktop Vaporizers</a>
    
        <a class="sponsored-link odd" href="">Best Portable Herb Vaporizers</a>
    
        <a href="https://www.smokecartel.com/collections/vaporizers?aff=421" rel="nofollow">Best Concentrates Vaporizers</a>

        <a class="sponsored-link odd" href="" target="_blank" rel="nofollow">Grow Ounces Easy At Home</a>
    
        <a href="https://www.smokecartel.com/collections/titanium-ceramic-quartz-nails-and-dabber-tools/products/galaxy-e-nail-all-ceramic-airway-usa-made-enail?aff=421" rel="nofollow">Enail</a>
    
       <a href="https://www.smokecartel.com/collections/dab-rigs-and-oil-rigs?aff=421" rel="nofollow">Dabbing Rigs</a>

       <a href="https://www.smokecartel.com/collections/titanium-ceramic-quartz-nails-and-dabber-tools?aff=421" rel="nofollow">Nail And Dabber Tools </a>
    
       
</div>
</div>

            <a href="https://www.smokecartel.com/?aff=421" rel="nofollow"><img src="https://www.affiliatly.com/affiliate_files/banners/320/smokecartel_160x600.gif" alt=""></a>
          </div>
       

          <div>
  
          </div>
        </div>