{% load staticfiles %}

<div class="row video-feature">
	<div class="col-sm-12 video">
		<h3 class="title xl-title">
		Video Feature
		</h3>
			<div class="video-feature">
				<a href="/read/us-sen-elizabeth-warren-open-legalizing-recreational-marijuana" style="    display: inline-block;
				  position: relative;">
					<img class="video-image img-reponsive" src="http://assets.hightimes.com/styles/large/s3/ElizabethWarren-Marijuana.jpg?itok=gZKDRedr"/>
				</a>
				<h3 class="headline">
					<a href="/read/us-sen-elizabeth-warren-open-legalizing-recreational-marijuana">
						US Sen. Elizabeth Warren Is 'Open' To Legalizing Recreational Marijuana
					</a>
				</h3>
				<div class="byline">
				Thu Sep 3, 2015
				</div>
				<p class="description">
					U.S. senator and democratic darling Elizabeth Warren has changed her stance on marijuana legalization. According to Boston.com, she told Joshua Miller of The Boston Globe on Wednesday that she is now open to ballot questions seeking to legalize pot.
				</p>
			</div>
			<hr color="#bb9944">
	<!-- .video-feature -->

	</div>
</div>
