{% extends "base.html" %}
{% load staticfiles %}
{% load embed_video_tags %}

{% block content %}
{% include "navbar.html" %}
	<h1>Omg</h1>
{% for item in queryset %}
	<!-- {% video item.video 'large' %}
	{{ item.description }}
	{video.url }} -->
	thumbnail: {{ item.video.thumbnail }}
	{% video item.video as my_video %}
   <p>URL: {{ my_video.url }}</p> 
    <p>{{ item.description }}</p>
    <img src="{{ my_video.thumbnail }}" width=600 height=450 class="img-rounded">
    {% video my_video 'small' %}

{% endvideo %}
{% endfor %}


{% endblock %}