{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "navbar.html" %}
  

  
<main class="container post-container">
  <section class="col-md-8">
    {% if instance.image %}
      <div class="post-img">
        <img src="{{ instance.image.url }}"/>
      </div>
    {% endif %}
    <h1>{{ title|title  }}  </h1>
    <div class="post-meta">
      <span>{{ instance.published }}</span> 
      <span id="social-share" class="pull-right">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" >
        <i class="fa fa-facebook-square fa-2x"></i>
        </a>

        <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
        <i class="fa fa-twitter-square fa-2x"></i>
        </a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ share_string }}&source={{ request.build_absolute_uri }}" target="_blank">
        <i class="fa fa-linkedin-square fa-2x"></i>
        </a>

        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}">
        <i class="fa fa-reddit-square fa-2x"></i>
        </a>
        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
        <i class="fa fa-google-plus-square fa-2x"></i>
        </a>
      </span>
    </div>
    <article>
      <p>{{ instance.content|linebreaks }}</p> 
      <div>
       <h3  class="tags-header">Tags:</h3>
        {% for tag in instance.tags.all %}
           <span class="tags">  {{ tag.name }} </span>
        {% endfor %}
      </div>
    </article>

    {% if instance.draft %}<span style="color:red;">Draft</span> {% endif %}
    <hr>

    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
  </section>
{% include 'sidebar.html' %}
</main>

  
 

{% endblock %}